@tailwind base;
@tailwind components;
@tailwind utilities;


.background-div {
    background-image: url("https://www.murphysamandjodi.com/wp-content/uploads/2023/04/bigstock-Stacks-Of-The-Different-Books-459245695_2.jpg");
    background-size: cover; /* Adjust the image size to cover the entire div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center; /* Center the image horizontally and vertically */
    width: 1800px;
    height: 500px;
}
.center-vertically {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 400px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
   
  }
  /* Style the container for the search box and button */
.search-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

/* Style the search box */
#search-box {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
#search-box:hover {
    background-color: #f8f3f3;
}
/* Style the search button */
#search-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

/* Hover effect for the search button */
#search-button:hover {
    background-color: #555;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

/* Style the custom buttons */
.custom-button {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: flex;
}

/*Apply a margin to the right of each button except the last one*/
.custom-button:not(:last-child) {
    margin-right: 50px;
}

/* Hover effect for the buttons */
.custom-button:hover {
    background-color: #005073;
}
.divDisplayCityPrice{
    display: inline-block;
    height: 50px;
    width: 300px;
}
.divRatings{
    height: 50px;
    width: 20px;
}

.mainDiv{
    display: flex;
    height: 100px;
    width: 500px;
}
.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
    color: #333;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
  }
  .submit {
    position: relative;
    background-color: #e04b52;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }

  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    height: 300px;
    width: 300px;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52;
  }

  
  .thing-avatar {
    justify-self: left;
    height: 12rem;
    width: auto;
   
  }

.things-collection {
    margin: 2rem;
    display: inline-flex;

  }

.container{
    display: flex;
  flex-direction: column;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 30px; /* Add some spacing between images */
    padding: 1rem;
    border-width: 1rem;
}

.image-container img {
    width: 100%; /* Make images take full width of their grid cell */
    max-height: auto; /* Allow images to scale proportionally */
}