[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "*"
importlib-resources = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"

[requires]
python_full_version = "*"
